<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A little about me!</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-offset-2 col-lg-8 aboutParagraph">
                  <p>
                    I am a senior at Berea College seeking a major in Computer and Information Science.
                    I have an interest in data analysis, web development, and machine learning.
                    Seeking a summer internship where I can grow my skills as a developer, and learn the common practices to write clean readable code.
                    I am a fast learner and can pick up skills and use them to create a product quickly.
                  </p>
                  <p>

                  In my current position as a student software engineer at Berea College, I focus on improving campus departments workflow and reducing costs associated with productivity.
                  I have created a course scheduling system that reduced interdepartmental paperwork and centralized the scheduling process for all those involved.
                  I have also created a system to facilitate proposal submission for undergraduate research funding. Previous Experience also includes contributing to the PHETsims open source project where I was able to push a simulation very close to its completion.
                </p>
                <p>
                  Faculty and fellow students know me as a very motivated person who can bring projects to completion.
                  I work hard to stay on the edge of best programming practice, and to think of new approaches to difficult problems.
                  I am also known as a problem solver that enjoys a good a challenge. I work well alone and excel when collaborating with others.
                </p>
                <p>
                  I am pursuing new opportunities and can be contacted at 859-893-2833
                </p>
                </div>
            </div>
        </div>
    </section>